:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
    --box-shadow: 6px 5px 5px 1px rgba(216, 205, 205, 0.25);
    --radius:3px;
    --base-white:#f4f1de;
    --base-brown:#e07a5f;
    --base-dark-blue:#3d405b;
    --base-green:#81b29a;
    --base-lignt-yello:#f2cc8f;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}
li{
    color: var(--base-dark-blue);
    list-style-type: none;
}
span{
    color: var(--base-green);
    font-size: 24px;
}

/*Navbar CSS*/

.nav-center{
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin: 0 auto;
}

.main-name{
    color: #adb5bd;
    font-weight: 300;
    margin-top: 3rem;
    font-size: 1rem;
    transition: all 0.3s linear;
}
.main-name:hover,
.nav-link:hover{
    color: #81b29a;
}
.main-name2{
    font-weight: 400;
    margin-top: 3rem;
    font-size: 1.5rem;
    transition: all 0.3s linear;
}
@media screen and (min-width:1000px) {
    .main-name{
        font-weight: 500;

    }
    .main-name2{
        font-weight: 500;

    }
}
.links-container{
    position: fixed;
    right: 0;
    top:0;
    width: 5em;
    height: 0;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
}
.fa-circle-xmark{
    color: black;
    font-size: 5rem;
    transition: all 0.3s linear;
    cursor: pointer;
}
.fa-circle-xmark:hover{
    color: var(--base-green);
}
.nav-links{
    display: grid;
    text-align: center;
}
.nav-link{
    padding-bottom: 1rem;
    transition: all 0.3s linear;
}

.fa-circle-xmark{
    color: black;
    font-size: 1rem;
    margin: 1rem 0;
}

.fa-hashtag{
    position: absolute;
    right: 3rem;
    top: 3.7rem;
    font-size: 1.5rem;
    color: #f2cc8f;
    cursor: pointer;
    transition: all 1s linear;
}
.fa-hashtag:hover{
    transform: rotate(180deg);
    color: var(--base-green);
}

@media screen and (max-width:400px) {
    .fa-hashtag{
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 1rem;}
}

.disapearItem,
.big-screen-nav-containers
{
    display: none;
}

@media screen and (min-width:1000px) {
    .main-name{
        margin-top: 5rem;
    }
    .fa-hashtag,
    .fa-circle-xmark,
    .links-container{
        display: none;
    }
    .big-screen-nav-containers{
        position: absolute;
        display: flex;
        right: 3rem;
    top:0;
    width: 8em;
    height: 5rem;
    background-color: transparent;
    }
    .big-screen-nav-links{
        margin-top: 4.5rem;
        display: flex;
        padding-top: 0.3rem;
    }
    .big-screen-nav-link{
        padding-right: 1rem;

    }
    
}

@media screen and (max-width:600px) {
    .main-name{
        margin-top: 3.5rem;
        font-size: 1.5rem;
    }
    .main-name2{
        
        font-size: 1.2rem;
    }

    .fa-circle-xmark{
        font-size: 1rem;
    }
    .links-container{
        width: 4rem;
    }
}

/*Categories*/

.button-center{
    display: flex;
    place-items: center;
    gap: 0.5rem;
    justify-content: center;
}
.category{
    background-color: #81b29a;
    padding: 0.3rem 0.5rem;
    border-radius: var(--radius) ;
    border: transparent;
    text-transform: uppercase;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.5s linear;
    display: flex;
    
}
.category:hover{
    background-color: var(--base-lignt-yello);
    color: var(--base-dark-blue);
}
@media screen and (max-width:1000px) {
    .button-center{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        flex-wrap: wrap;
    }
    .category{
       font-size: 12px;
    }
}



/*Works Section*/
.main-container{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
}
.section-center{
    display: grid;
    justify-items: center;
    margin-top: 3rem;
}
.category-container{
    width: 70%;
}
@media screen and (max-width:400px){
    .category-container{
        width: 85%;
    }
    .works-container{
        width: 95vw;
    }
}
.works-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
    flex-wrap: wrap;  
}

@media screen and (max-width:800px){
    .works-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
    }
    
}

@media screen and (min-width:1400px){
    .works-container{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
    }
}

.work{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    row-gap: 0.1rem;
    transition: all 0.1s linear;
    width: 100%;
    border: 2px solid #222;
}
.work:hover{
    border: 4px solid rgb(181, 181, 181);
}
.workInnerContainer{
    width: 95%;
}

.work-name{
    position: relative;
    font-family: Hind,sans-serif;
    color: #222;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    text-align: left;
    margin-top: 0.5rem;
    position: relative;

    
}
.work-name:after{
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 90%;
    height: 35%;
    background-color: #c8efb8;
    z-index: -10;
 
}
.icons i {
    font-size: 1rem;
}
.work-img{
    width: 360px;
    height: 250px;

    border-radius: var(--radius);
}

@media screen and (max-width:500px){
    .work{
        display: grid;
        padding: 0.3rem;
    row-gap: 0.3rem;

    }
}

@media screen and (min-width:1000px) {
    .works-container{
        width: 85vw; 
    }
    .work{
        width: 95%;
    }
    .work-img{
        width: 100%;

}}

/*works container*/
.stack-containers{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

}
.stack-containers li {
    font-size: 12px;
    color: #222;
    margin-left: 0.3rem;
    height: 30px;
}

.stack{
    background-color: #f0f0f0;
    font-weight: 500;
    color: var(--base-dark-blue);
    padding: 0.5em;
    border-radius: 1rem;
}

@media screen and (max-width:500px){
    .work-img{
        width: 380px;
        height: 250px;
        border-radius: var(--radius);
    }
}

.detailInfo{
    color: #222;
    font-size: 0.8rem;
}

/*Icons container*/

.icons{
    width: auto;
    margin-bottom: 0.5rem;
    display: flex;
    margin: 0.5rem;
    justify-content: center;
}
.fa-w,
.fa-figma,
.fa-github{
    color: var(--base-brown)
}


/*About */
.about-container{
    margin: 3rem auto;
    text-align: center;
    width: 80vw;
}
@media screen and (max-width : 1300px) {
    .about-container{width: 80vw;}
}
@media screen and (max-width : 1000px) {
    .about-container{width: 90vw;}
}


.about-img{
    margin-left: 1.5rem;
    width: 350px;
    height: 350px;
    margin-right: 0.5rem;
}
.fonts{
    display: flex;
    justify-content: center;

}

.fonts a{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 5rem;
    font-size: 1rem;
    color: var(--base-brown);
    transition: all 0.3s linear;
}

.fonts a:hover{
    color: #222;
}
.email{
    margin-top: 1rem;
    color: #adb5bd;
    margin-bottom: 2rem;
}

.not-yet{
    color: var(--base-green);
    font-size: 2rem
}

.center{
    margin: 0 3rem;
    text-align: center;

}
@media screen and (max-width : 800px) {
    .center{margin: 1rem;}
}
@media screen and (max-width : 950px) {
    .first-info{
        margin-top: 8rem;
    }
    .about-container{width: 90vw;}
    .about-img{
       display: none;
    }
}
@media screen and (max-width : 500px) {
    .about-container{width: 90vw;}
    .about-img{
        margin-bottom: 1rem;
        margin-left: 0;
    }
}
/* first-info*/

.first-info{
    position: relative;
    display: grid;

    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
}

.first-info p{

    font-size: 17px;

    font-family: 'Hind', sans-serif;
    line-height: 25px;
    font-weight: 500;
    text-align: left;
}



@media screen and (max-width:950px) {
    .first-info{

        display: block;
    
    }

    .first-info-box{
        position: absolute;
        padding: 0.5rem;
        width: 100%;
  
    }

    .first-info-box p,
    .sec-info-box p,
    .third-info-box p,
    .four-info-box p,
    .five-info p{
        font-size: 20px;
    }
    .third-info{
        width: 100%;
    }
    .sec-info{
        width: 100%;
    }
}



.work-explain{
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 0.3rem;
}

.management-info-name{
    padding: 3rem;
    margin: 0 auto;
    width: 100vw;
    background-image: url('/src/img/cool-background\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.management-info-name-two{
    padding: 3rem;
    margin: 0 auto;
    width: 100vw;
    background-color: #c8efb8;
}
.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.moving-img{
    border-radius: 1rem;
    margin-top: 2rem;
    width: 60%;
    margin-bottom: 2rem;
}
.explain-img{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    width: 80%;
}


.container-space{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.management-info-name h1{
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
}

.fa-list-check{
    font-size: 2rem;
    align-self: flex-end;
}
.stack-info{
    margin-right: 2rem;
}
.stack-name{
    font-size: 1.2rem;
    color: white;
    font-weight: 400;
}
.stack-name{
    color: #222;
    font-weight: 500;
}
.stacks{
    margin-top: 0.5rem;
    color: #dee2e6;
}
.stacks2{
    color: black;
}

/* individual App info */
p{
    font-weight: 400;
}
.detail-info{
    width: 75vw;
    margin-top: 1rem;
}

.first-question,
.question{
    display: flex;
    align-items: center;
}
.fa-fire,
.fa-circle-check,
.fa-person-digging{
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #e07a5f;
}
.first-answer,
.answser{
    margin-top: 0.5rem;
    margin-left: 1rem;
    line-height: 2rem;
}
.minor-answer{
    margin-top: 1rem;
    align-items: center;
    margin-left: 3rem;
    display: flex;
}
.minor-answer .fa-circle-check{
    color: #81b29a;
}

.second-question{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.minor-question{
    font-style: italic;
    font-weight: 500;
}

.first-answer-span{
    font-size: 1rem;
    font-weight: 400;
    color: black;
    font-style: italic;
}