:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

* {
    background-color: #444648;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


li{
    color: black;
    list-style-type: none;
}

/*Navbar CSS*/
.nav-center{
    display: flex;
    width: 90vw;
    justify-content: center;
    margin: 1rem auto;
}

.main-name{
    transition: all 03 linear;
}
.main-name:hover{
    color: aqua;
}

@media screen and (min-width:800px) {
    .main-name{
        
    }
}

.works-container{
    display: flex;
    flex-wrap: wrap;
}