:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
    --box-shadow: 6px 5px 5px 1px rgba(216, 205, 205, 0.25);
    --radius:3px;
    --base-white:#f4f1de;
    --base-brown:#e07a5f;
    --base-dark-blue:#3d405b;
    --base-green:#81b29a;
    --base-lignt-yello:#f2cc8f;
}

* {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-weight: bold;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--base-dark-blue);
}
li{
    color: var(--base-dark-blue);
    list-style-type: none;
}
span{
    color: var(--base-green);
    font-size: 24px;
}

/*Navbar CSS*/

.nav-center{
    display: flex;
    width: 90vw;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.main-name{
    font-weight: 600;
    margin-top: 3rem;
    font-size: 2.5rem;
    transition: all 0.3s linear;
}
.main-name:hover{
    color: #81b29a;
}
.links-container{
    position: fixed;
    right: 0;
    top:0;
    width: 5em;
    height: 0;
    background-color: var(--base-brown);
    overflow: hidden;
    text-align: center;
}
.fa-circle-xmark{
    color: white;
    font-size: 5rem;
    transition: all 0.3s linear;
    cursor: pointer;
}
.fa-circle-xmark:hover{
    color: var(--base-green);
}
.nav-links{
    display: grid;
    text-align: center;
}
.nav-link{
    padding-bottom: 1rem;
    transition: all 0.3s linear;
}
.nav-link:hover{
    color: var(--base-dark-blue);
}
.fa-circle-xmark{
    color: #edf2f4;
    font-size: 2rem;
    margin: 1rem 0;
}

.fa-star{
    position: absolute;
    right: 3rem;
    top: 3.7rem;
    font-size: 1.5rem;
    color: #f2cc8f;
    cursor: pointer;
    transition: all 1s linear;
}
.fa-star:hover{
    transform: rotate(180deg);
    color: var(--base-green);
}

@media screen and (max-width:400px) {
    .fa-star{
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 1rem;}
}

.disapearItem,
.big-screen-nav-containers
{
    display: none;
}

@media screen and (min-width:1000px) {
    .main-name{
        margin-top: 5rem;
    }
    .fa-star,
    .fa-circle-xmark,
    .links-container{
        display: none;
    }
    .big-screen-nav-containers{
        position: absolute;
        display: flex;
        right: 3rem;
    top:0;
    width: 8em;
    height: 5rem;
    background-color: transparent;
    }
    .big-screen-nav-links{
        margin-top: 5.5rem;
        display: flex;
        padding-top: 0.3rem;
    }
    .big-screen-nav-link{
        padding-right: 1rem;

    }
    
}

@media screen and (max-width:600px) {
    .main-name{
        margin-top: 3.5rem;
        font-size: 1.5rem;
    }

    .fa-circle-xmark{
        font-size: 1rem;
    }
    .links-container{
        width: 4rem;
    }
}

/*Categories*/

.button-center{
    display: flex;
    place-items: center;
    gap: 0.5rem;
    justify-content: center;
}
.category{
    background-color: #81b29a;
    padding: 0.3rem 0.5rem;
    border-radius: var(--radius) ;
    border: transparent;
    text-transform: uppercase;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.5s linear;
    display: flex;
    
}
.category:hover{
    background-color: var(--base-lignt-yello);
    color: var(--base-dark-blue);
}
@media screen and (max-width:1000px) {
    .button-center{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .category{
       font-size: 10px;
    }
}



/*Works Section*/
.main-container{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
}
.section-center{
    display: grid;
    justify-items: center;
    margin-top: 3rem;
}
.category-container{
    width: 70%;
}
@media screen and (max-width:400px){
    .category-container{
        width: 85%;
    }
}
.works-container{
    margin-top: 2rem;
    
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1.5rem;
    flex-wrap: wrap;  
}

@media screen and (max-width:800px){
    .works-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:1400px){
    .works-container{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
    }
}

.work{
    place-items: center;
    padding: 0.5rem;
    display: grid;
    row-gap: 0.1rem;
    border-radius:var(--radius);
    width: 100%;
    text-align: center;
    background-color: var(--base-white);
    box-shadow: var(--box-shadow);
}

.work-name{
    font-size: 1rem;
    margin:0.5rem auto;
}

.work-img{
    width: 360px;
    height: 250px;
    border-radius: var(--radius);
}

@media screen and (max-width:500px){
    .work{
        display: grid;

        padding: 0.3rem;

    row-gap: 0.3rem;
    }
}

@media screen and (min-width:1000px) {
    .works-container{
        width: 70vw; 
    }
    .work{
        width: 90%;
    }
    .work-img{
        width: 100%;
        height: 100%;
}}

/*works container*/
.stack-containers{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

}


.stack{
    color: var(--base-dark-blue);
    padding-left: 0.5em;
}

@media screen and (max-width:500px){
    .work-img{
        width: 380px;
        height: 250px;
        border-radius: var(--radius);
    }
}

/*Icons container*/

.icons{
    width: auto;
    margin-bottom: 0.5rem;
    display: flex;
    margin: 0.5rem;
    
}
.fa-w,
.fa-figma,
.fa-github{
    color: var(--base-brown)
}


/*About */
.about-container{
    margin: 5rem auto;
    margin-top: 3rem;
    text-align: center;
    width: 80vw;
    
}

.about-container p{
    color: rgb(25, 25, 25);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
    text-align:left;
}
.fonts{
    display: flex;
    justify-content: center;

}

.fa-linkedin,
.fa-blog{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 2rem;
    font-size: 3rem;
    color: var(--base-brown);
}

.not-yet{
    color: var(--base-brown);
    font-size: 2rem
}